@font-face {
    font-family: "Segoe UI Semibold";
    src: url("/font/segoe-ui-semibold-2.ttf") format("truetype");
}

@font-face {
    font-family: Mongolian Baiti;
    src: url("/font/monbaiti.ttf") format("truetype");
}

@font-face {
    font-family: 'Leelawadee UI';
    src: url("/font/LeelawUI.ttf") format("truetype");
}

@font-face {
    font-family: "Segoe UI";
    src: url("/font/Segoe\ UI.ttf") format("truetype");
}

@font-face {
    font-family: "Segoe UI";
    src: url("/font/Segoe\ UI.ttf") format("truetype");
}

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;600&display=swap');